/* General */
$scale:14px;                    /* main font size */
$borderRadius:12px;             /* border radius of CabinetLayout element e.g. card, sidebar */
$transitionDuration:.2s;        /* transition duration of CabinetLayout elements e.g. sidebar, overlay menus */
